@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;

.feat {
  background-color: #f4f5f7;
  margin-top: 12rem;
  padding: 1rem;

  @include responsive(laptop) {
    margin-top: -2rem;
  }
}

.featuring {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;

  @include responsive(laptop) {
    text-align: start;
    margin-left: 10rem;
    width: 600px;
  }

  &__title {
    font-size: 2.5rem;
    color: #2d314d;
  }
  &__text {
    color: #9597a5;
  }
}

.features {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  @include responsive(laptop) {
    flex-direction: row;
    gap: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include responsive(laptop) {
    align-items: start;
    text-align: left;
  }
  &__icon {
    margin-top: 1rem;
  }
  &__title {
    font-size: 1.5rem;
    color: #2d314d;
  }
  &__text {
    color: #9597a5;
  }
}
