/* ESTILOS DEL FOOTER */
@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;

.footer {
  background-color: #2d314d;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 5rem;
    @include responsive(laptop) {
    flex-direction: row;
    padding-left: 10rem;
    padding-top: 0rem;
    }


  &__logos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &_logo {
    color: white;
  }
  &__socialmedias {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  &__socialmedia {
  }
  &__menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    @include responsive(laptop) {
      flex-direction: row;
      text-align: left;
      padding-left: 5rem;
      gap: 5rem;
      }
    }
  
  &__menutext {
    padding: 0.5rem;
    color: white;
  }
  &__copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
    @include responsive(laptop) {
      padding-top: 5rem;
      padding-left: 15rem;
      }
  }
  &__button {
    border-radius: 5rem;
    padding: 0.75rem;
    text-align: center;
    width: 163px;
    height: 44px;
    color: white;
    font-weight: bold;
    background: linear-gradient(45deg, #33D35E, #2AB6D9);
  }
  &__copyright {
    color: #9597a5;
  }
}
