/* ESTILOS DEL FOOTER */
@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;

.footer {
  background-color: #2d314d;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 5rem;
  &__logos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &_logo {
    color: white;
  }
  &__socialmedias {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  &__socialmedia {
  }
  &__menu {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &__menutext {
    padding: 0.5rem;
    color: white;
  }
  &__copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
  }
  &__button {
    border-radius: 5rem;
    padding: 0.75rem;
    text-align: center;
    width: 163px;
    height: 44px;
    color: white;
    font-weight: bold;
    background-color: #33d35e;
  }
  &__copyright {
    color: #9597a5;
  }
}
