@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

.toggle-menu {
  position: absolute;
  top: 1.2rem;
  left: 16rem;
  cursor: pointer;
  width: 40px;
  transform: translateX(100%);
}

@media screen and (min-width: 600px) {
  .toggle-menu {
    display: none;
  }
}

.hide {
  display: none;
}

.header {
  position: relative;
  top: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  height: 50px;
  background-color: #ffffff;
}
@media screen and (min-width: 600px) {
  .header {
    top: 0rem;
    background-image: none;
    background-color: white;
    width: 1440px;
    height: 50px;
  }
}
.logo {
  width: 100px;
  position: relative;
  top: 0.6rem;
  margin-left: 1rem;
}

@media screen and (min-width: 600px) {
  .logo {
    margin-left: 5rem;
    top: 1rem;
  }
}

.main-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0rem;
  line-height: 0.5rem;
  height: 270px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  justify-content: center;
  background-color: #ffffff;
}

@media screen and (min-width: 600px) {
  .main-menu {
    top: -0.5rem;
    margin-left: 2.3rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: none;
    gap: 2rem;
    font-weight: normal;
    background-image: none;
    background-color: transparent;
    height: 50px;
  }
}

.main-menu-item {
  font-size: 1rem;
  color: rgb(0, 0, 0);
  padding: 1rem;
  margin-top: 0.5rem;
}

@media screen and (min-width: 600px) {
  .main-menu-item {
    font-size: 1rem;
    color: #000000;
    line-height: 1rem;
    padding: 0;
    margin: 0;
  }
}
